<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("roflex.png") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <%= link_to "offers", offers_path, class: "nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= "<%= current_user.profile_picture_url %>"/>
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/8/9/e/89e85604ff_50165234_diamant-2-alrosa.jpg"/>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <%= link_to "Profile",user_path(current_user),class: "text-decoration-none dropdown-item" %>
                <%= link_to "Wish-list",users_whishlist_path(current_user),class: "text-decoration-none dropdown-item" %>
                <%= link_to "Edit Profile",edit_user_registration_path(current_user),class: "text-decoration-none dropdown-item" %>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
              <% else %>
               <%= link_to "Sign in", user_session_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
