<div class="container my-4">
  <h1 class="mb-3">My rentals</h1>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-rentals-tab" data-bs-toggle="tab" data-bs-target="#nav-rentals" type="button" role="tab" aria-controls="nav-rentals" aria-selected="true">My rentals (as renter)</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My rentals (as owner)</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My offers (as owner)</button>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-rentals" role="tabpanel" aria-labelledby="nav-rentals-tab">
      <div class="row">
        <% if current_user.rentals.count == 0 %>
          <div class="container">
            <p class="mt-3">You haven't rent any watch yet but it's never too late !</p>
            <%= link_to("Discover products", offers_path, class:"btn") %>
          </div>
        <% end %>
        <% current_user.rentals.each do |rental| %>
          <div class="col-sm-6 col-md-4 mb-3">
            <%= link_to rental, class:"card-offer-link" do %>
              <div class="card-offer">
                <% if rental.offer.photos.attached? %>
                  <%= cl_image_tag rental.offer.photos.first.key %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>
                <div class="card-offer-infos">
                  <div class="card-offer-infos-top">
                    <p class="card-offer-name"><%= rental.offer.name %></p>
                    <p class="card-offer-description"><%= rental.offer.description.truncate(110) %></p>
                  </div>
                  <div class="card-offer-infos-bottom">
                    <div class="d-flex align-items-end">
                      <p class="card-offer-pricing"><%= '%.2f' % rental.total_amount %>€</p>
                      <% if rental.start_time > Date.today %>
                        <p class="tag future">To come</p>
                      <% elsif rental.end_time < Date.today %>
                        <p class="tag past">Over</p>
                      <% else %>
                        <p class="tag present">Ongoing</p>
                      <% end %>
                    </div>
                    <p class="card-offer-address">📍 <%= rental.offer.address %></p>
                  </div>
                  <% if rental.offer.user.photo.attached? %>
                    <%= cl_image_tag rental.offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
                  <% else %>
                    <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row">
        <% if current_user.offers.count == 0 %>
          <div class="container">
            <p class="mt-3">It seems like you haven't posted any offer yet !</p>
            <%= link_to("Add a new offer", new_offer_path, class:"btn") %>
          </div>
        <% elsif @rentals.select { |rental| rental.offer.user == current_user }.count == 0 %>
          <div class="container">
            <p class="mt-3">Nobody has rent one of your watches, yet!</p>
            <%= link_to("Add a new offer", new_offer_path, class:"btn") %>
          </div>
        <% end %>
        <% @rentals.select { |rental| rental.offer.user == current_user }.each do |rental| %>
          <div class="col-sm-6 col-md-4 mb-3">
            <%= link_to rental, class:"card-offer-link" do %>
              <div class="card-offer">
                <% if rental.offers.attached? %>
                  <%= cl_image_tag rental.offer.photos.first.key %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>
                <div class="card-offer-infos">
                  <div class="card-offer-infos-top">
                    <p class="card-offer-name"><%= rental.offer.name %></p>
                    <p class="card-offer-description"><%= rental.offer.description.truncate(110) %></p>
                  </div>
                  <div class="card-offer-infos-bottom">
                    <div class="d-flex align-items-end">
                      <p class="card-offer-pricing"><%= '%.2f' % rental.total_amount %>€</p>
                      <% if rental.start_time > Date.today %>
                        <p class="tag future">To come</p>
                      <% elsif rental.end_time < Date.today %>
                        <p class="tag past">Over</p>
                      <% else %>
                        <p class="tag present">Ongoing</p>
                      <% end %>
                    </div>
                    <p class="card-offer-address">📍 <%= rental.offer.address %></p>
                  </div>
                  <% if rental.offer.user.photo.attached? %>
                    <%= cl_image_tag rental.offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
                  <% else %>
                    <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
        <% if current_user.offers.count == 0 %>
          <div class="container">
            <p class="mt-3">It seems like you haven't posted any offer yet !</p>
            <%= link_to("Add a new offer", new_offer_path, class:"btn") %>
          </div>
        <% end %>
        <% current_user.offers.each do |offer| %>
          <div class="col-sm-6 col-md-4 mb-3">
            <%= link_to offer, class:"card-offer-link" do %>
              <div class="card-offer">
                <% if offer.photos.attached? %>
                  <%= cl_image_tag offer.photos.first.key %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>
                <div class="card-offer-infos">
                  <div class="card-offer-infos-top">
                    <p class="card-offer-name"><%= offer.name %></p>
                    <p class="card-offer-description"><%= offer.description.truncate(110) %></p>
                  </div>
                  <div class="card-offer-infos-bottom">
                    <p class="card-offer-pricing"><%= '%.2f' % offer.price %>€/day</p>
                    <p class="card-offer-address">📍 <%= offer.address %></p>
                  </div>
                  <% if offer.user.photo.attached? %>
                    <%= cl_image_tag offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
                  <% else %>
                    <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
