<div class="container mt-5 offershow">
  <div class="row">
    <div class="col-sm-6">
      <%= cl_image_tag @rental.offer.photos.first.key, class:"img-show w-100 mb-3" %>
    </div>
    <div class="col-sm-6">
     <div class="info-container">
      <h2><%= @rental.offer.name %></h2>
      <p><%= @rental.offer.description %></p>
      <p class="blue"><i class="fas fa-tag"></i> <strong><span id="priceperday"><%= '%.2f' % @rental.total_amount %></span>€</strong></p>
      <p class="blue"><i class="fas fa-calendar"></i> <strong><%= @rental.start_time.strftime("%a, %d %B %Y") %></strong> - </i> <strong><%= @rental.end_time.strftime("%a, %d %B %Y") %></strong></p>
    </div>
    </div>
  </div>
</div>
