<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <%= cl_image_tag @rental.offer.photo.key, class:"img-show w-100 mb-3" %>
    </div>
    <div class="col-sm-6">
     <div class="info-container">
      <h2><%= @rental.offer.name %></h2>
      <p><%= @rental.offer.description %></p>
      <h4>Total price</h4>
      <p><strong><%= '%.2f' % @rental.total_amount %> €</strong></p>
      <h4>Rental dates</h4>
      <p>From <strong><%= @rental.start_time %></strong>  to <strong><%= @rental.end_time %></strong> </p>
    </div>
    </div>
  </div>
</div>
