<div class="container d-flex justify-content-center">
  <div class="card p-3 py-4">
    <div class="container mt-2 text-center">
      <h1> Hello <%= current_user.username %> !</h1>

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class:"avatar-profile" %>
      <% end %>

      <div class="user-info">
        <ul>
          <li>First name: <%= current_user.first_name %></li>
          <li>Last name: <%= current_user.last_name %></li>
          <li> <i class="fas fa-at"></i> <%= current_user.email %></li>
          <li> <i class="fas fa-phone"></i> <%= current_user.phone_number %></li>
        </ul>
      </div>
      <div class="">
        <%= link_to "Edit your profile", edit_user_registration_path, class:"btn" %>
        <%= link_to "Back to home", root_path, class:"btn" %>
      </div>
    </div>
  </div>
</div>
