<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.vintagewinders.co.uk/wp-content/uploads/2017/04/vintage-winders-rolex-banner.jpg);">
  <div class="container">
    <h1>Rent beautiful watches and jewelry</h1>
    <p>The luxury you've always deserved.</p>
    <%= link_to("See products", offers_path, class:"btn btn-primary") %>
  </div>
</div>

<div class="mt-5 container">
  <h2 class = "mb-5 text-center title">Roflex selection for today</h2>

   <div class="row">
    <% @offers.first(3).each do |offer| %>
        <div class="col-sm-6 col-md-4 mb-5">
          <%= link_to offer, class:"card-offer-link" do %>
            <div class="card-offer">
              <% if offer.photo.attached? %>
                <%= cl_image_tag offer.photo.key %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <% end %>
              <div class="card-offer-infos">
                <div>
                  <h2><%= offer.name %></h2>
                  <p><%= offer.description %></p>
                </div>
                <h2 class="card-offer-pricing"><%= offer.price %>€</h2>
                <% if offer.user.photo.attached? %>
                  <%= cl_image_tag offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
                <% else %>
                  <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="text-center">
    <%= link_to("See more", offers_path, class:"btn btn-primary") %>
  </div>

</div>

<div class="banner-child mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495704907664-81f74a7efd9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h2>Your rolex is sleeping in a drawer ?</h2>
    <p>You can make money out of it.</p>
      <%= link_to("Rent it out", new_offer_path, class:"btn btn-primary") %>
    </div>
  </div>
</div>
