<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://www.vintagewinders.co.uk/wp-content/uploads/2017/04/vintage-winders-rolex-banner.jpg);">
  <div class="container">
    <h1>Rent beautiful watches</h1>
    <p>The luxury you've always deserved.</p>
    <div class= "search-home"><%= render 'shared/searchbar' %></div>
  </div>
</div>

<div class="mt-5 container">
  <h2 class = "mb-5">Roflex selection for today</h2>

   <div class="row">
    <% @offers.first(3).each do |offer| %>
        <div class="col-sm-6 col-md-4 mb-3">
          <%= link_to offer, class:"card-offer-link" do %>
            <div class="card-offer">
              <% if offer.photos.attached? %>
                <%= cl_image_tag offer.photos.first.key %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <% end %>
              <div class="card-offer-infos">
                <div class="card-offer-infos-top">
                  <p class="card-offer-name"><%= offer.name %></p>
                  <p class="card-offer-description"><%= offer.description.truncate(110) %></p>
                </div>
                <div class="card-offer-infos-bottom">
                  <p class="card-offer-pricing"><%= '%.2f' % offer.price %>€/day</p>
                  <p class="card-offer-address">📍 <%= offer.address %></p>
                </div>
                <% if offer.user.photo.attached? %>
                  <%= cl_image_tag offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
                <% else %>
                  <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="text-center">
    <%= link_to("See more", offers_path, class:"btn") %>
  </div>

</div>

<div class="banner-child mt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1495704907664-81f74a7efd9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h2>Your rolex is sleeping in a drawer ?</h2>
    <p>You can make money out of it.</p>
      <%= link_to("Rent it out", new_offer_path, class:"btn") %>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2 class = "mb-5">Our last news</h2>
  <div class="row">
    <div class="col-md-6">
        <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1594534475808-b18fc33b045e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
          New rolex Submariner
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1625328923319-74cafe485866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
          New store at Dubai
        </div>
    </div>
  </div>
</div>
