<div class="container my-4">
  <h1>All offers</h1>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-sm-6 col-md-4 mb-3">
        <%= link_to offer, class:"card-offer-link" do %>
          <div class="card-offer">
            <% if offer.photo.attached? %>
              <%= cl_image_tag offer.photo.key %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <% end %>
            <div class="card-offer-infos">
              <div>
                <h2><%= offer.name %></h2>
                <p><%= offer.description %></p>
                <span> <%= offer.address %></span>
              </div>
              <h2 class="card-offer-pricing"><%= offer.price %>€</h2>
              <% if offer.user.photo.attached? %>
                <%= cl_image_tag offer.user.photo.key, class:"card-offer-user avatar-bordered" %>
              <% else %>
                <img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" class="card-offer-user avatar-bordered" />
              <% end %>
            </div>
          </div>
        <% end %>

        <% if offer.user == current_user %>
          <div class="mb-3 d-flex justify-content-end">
            <%= link_to 'Edit', edit_offer_path(offer) %>
            <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to 'New Offer', new_offer_path, class:"btn btn-primary" %>

  <div style="width: 100%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
