<div class="container mt-5 offershow">
  <div class="row">
    <div class="col-sm-6 mb-3">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @offer.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>">
              <%= cl_image_tag photo.key, class:"d-block w-100 img-show" %>
            </div>
          <% end %>
        </div>
        <% if @offer.photos.count > 1 %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="info-container">
        <h1><%= @offer.name %></h1>
        <p><%= @offer.description %></p>
        <% if @offer.user == current_user %>
          <div class="mb-3">
            <%= link_to("Edit", edit_offer_path(@offer)) %>
            <%= link_to("Delete", offer_path(@offer), method: :delete, data: {confirm: "Are you sure?"}) %>
          </div>
        <% end %>
        <p class="blue"><i class="fas fa-tag"></i> <strong><span id="priceperday"><%= '%.2f' % @offer.price %></span>€</strong>/day</p>
      </div>
      <div class="action-container mb-5" data-controller="dynamicprice">
        <%= simple_form_for @rental do |f| %>
          <%= f.input :start_time, as: :date, html5: true,label: "Start date", input_html:{value: Date.today, data:{action:"change->dynamicprice#updatePrice"}} %>
          <%= f.input :end_time, as: :date, html5: true, label: "End date", input_html:{value: Date.today, data:{action:"change->dynamicprice#updatePrice"}} %>
          <%= hidden_field_tag :offer_id, @offer.id %>
          <p class="blue"><i class="fas fa-shopping-cart"></i> <strong><span data-dynamicprice-target="price" id="realprice"><%= '%.2f' % @offer.price %> €</span></strong></p>
          <%= f.submit "Rent it", class:"btn", id:"rent-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @offer.reviews.count > 0 %>
    <div class="container mb-5 mt-3">
      <div class="row mb-3">
        <h2>Last reviews</h2>
        <p><%= pluralize((@offer.reviews.count),'review') %> </p>
        <% @offer.reviews.each do |review| %>
          <div class="card-review col-md-3 m-2 p-3">
            <p class="blue"><%= "★" * review.rating %><%= "☆" * (5 - review.rating) %></p>
            <p class="blue"><%= review.content %></p>
          </div>
        <% end %>
      </div>
      <%= link_to 'Leave a review', new_offer_review_path(@offer), class: "col-2 btn btn-primary" %>
    </div>
    <% else %>
      <%= link_to 'Leave the first review for this product !', new_offer_review_path(@offer) %>
  <% end %>
</div>
