<div class="container my-4">
  <h1><%= @offer.name %></h1>
  <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
  <p>Price: <%= @offer.price %></p>
  <p>Description: <%= @offer.description %></p>
  <p>Availability: <%= @offer.availability %></p>
  <%= link_to 'Rent', new_rental_path(@offer.id), class:"btn btn-primary" %>
  <%= link_to 'Back', offers_path, class:"btn btn-primary" %>
</div>
